body {
  font-size: 14px;
}
.v42_1062 {
  width: 100%;
  height: 3414px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v163_631 {
  width: 100%;
  height: 3414px;
  background: url("../images/v163_631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1063 {
  width: 100%;
  height: 150px;
  background: url("../images/v42_1063.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3264px;
  left: 0px;
  overflow: hidden;
}
.v42_1064 {
  width: 100%;
  height: 150px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1066 {
  width: 890px;
  height: 24px;
  background: url("../images/v42_1066.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 193px;
  overflow: hidden;
  padding-top: 40px;
  
}
.v42_1067 {
  width: 108px;
  color: rgba(103,72,157,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v42_1068 {
  width: 126px;
  color: rgba(245,126,32,1);
  position: absolute;
  top: 0px;
  left: 209px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v42_1069 {
  width: 70px;
  color: rgba(32,94,171,1);
  position: absolute;
  top: 0px;
  left: 436px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v42_1070 {
  width: 95px;
  color: rgba(94,187,70,1);
  position: absolute;
  top: 0px;
  left: 607px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v42_1071 {
  width: 87px;
  color: rgba(24,113,247,1);
  position: absolute;
  top: 0px;
  left: 803px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v42_1072 {
  width: 108px;
  height: 55px;
  background: url("../images/v42_1072.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v42_1075 {
  width: 472px;
  color: rgba(24,113,247,1);
  position: absolute;
  top: 689px;
  left: 484px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v42_1077 {
  width: 640px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 400px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v42_1079 {
  width: 215px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 575px;
  left: 464px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_1080 {
  width: 251px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 575px;
  left: 760px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_1081 {
  width: 20px;
  height: 14px;
  background: url("../images/v42_1081.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1290px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v42_1085 {
  width: 153px;
  height: 34px;
  background: url("../images/v42_1085.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1057px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v42_1086 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v42_1087 {
  width: 15px;
  height: 18px;
  background: url("../images/v42_1087.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v42_1088 {
  width: 15px;
  height: 18px;
  background: url("../images/v42_1088.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
}
.v42_1089 {
  width: 80px;
  height: 41px;
  background: url("../images/v42_1089.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 130px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v42_1090 {
  width: 683px;
  height: 280px;
  background: url("../images/v42_1090.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 379px;
  overflow: hidden;
}
.v42_1091 {
  width: 540px;
  height: 280px;
  background: url("../images/v42_1091.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1092 {
  width: 274px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 235px;
  left: 409px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_1093 {
  width: 780px;
  height: 682px;
  background: url("../images/v42_1093.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 803px;
  left: 330px;
  overflow: hidden;
}
.v42_1094 {
  width: 543px;
  height: 81px;
  background: url("../images/v42_1094.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 96px;
  overflow: hidden;
}
.v42_1095 {
  width: 543px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 42px;
  left: 0px;
  font-family: Outfit;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1096 {
  width: 332px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 94px;
  font-family: Outfit;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_1097 {
  width: 780px;
  height: 682px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 4px 4px 27px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v42_1098 {
  width: 124px;
  height: 50px;
  background: url("../images/v42_1098.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 328px;
  overflow: hidden;
}
.v42_1099 {
  width: 124px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1100 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 41px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v42_1101 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 227px;
  left: 127px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1102 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 573px;
  left: 306px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_1103 {
  width: 259px;
  color: rgba(24,113,247,1);
  position: absolute;
  top: 605px;
  left: 260px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_1104 {
  width: 211px;
  height: 50px;
  background: url("../images/v42_1104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 284px;
  overflow: hidden;
}
.v42_1105 {
  width: 211px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1106 {
  width: 121px;
  height: 28px;
  background: url("../images/v42_1106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 508px;
  left: 326px;
  overflow: hidden;
}
.v42_1107 {
  width: 87px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 34px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v42_1108 {
  width: 8px;
  height: 19px;
  background: url("../images/v42_1108.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  transform: rotate(-45deg);
}
.v42_1109 {
  width: 211px;
  height: 50px;
  background: url("../images/v42_1109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 418px;
  left: 284px;
  overflow: hidden;
}
.v42_1110 {
  width: 211px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1111 {
  width: 129px;
  height: 28px;
  background: url("../images/v42_1111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 41px;
  overflow: hidden;
}
.v42_1112 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 35px;
  font-family: Outfit;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v42_1113 {
  width: 24px;
  height: 19px;
  background: url("../images/v42_1113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v42_1114 {
  width: 24px;
  height: 19px;
  background: url("../images/v42_1114.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
}
.name {
  color: #fff;
}
.v42_1116 {
  width: 124px;
  height: 50px;
  background: url("../images/v42_1116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 328px;
  overflow: hidden;
}
.v42_1117 {
  width: 124px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1118 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 28px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v42_1119 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 127px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1120 {
  width: 580px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 100px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1121 {
  width: 266px;
  height: 38px;
  background: url("../images/v42_1121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 127px;
  overflow: hidden;
}
.v42_1122 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 51px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1123 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 128px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v42_1125 {
  width: 36px;
  height: 24px;
  background: url("../images/v42_1125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v42_1126 {
  width: 580px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 100px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1127 {
  width: 163px;
  height: 13px;
  background: url("../images/v42_1127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 127px;
  overflow: hidden;
}
.v42_1128 {
  width: 13px;
  height: 13px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v42_1129 {
  width: 13px;
  height: 13px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 30px;
  border-radius: 50%;
}
.v42_1130 {
  width: 13px;
  height: 13px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 60px;
  border-radius: 50%;
}
.v42_1131 {
  width: 13px;
  height: 13px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 90px;
  border-radius: 50%;
}
.v42_1132 {
  width: 13px;
  height: 13px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  border-radius: 50%;
}
.v42_1133 {
  width: 13px;
  height: 13px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  border-radius: 50%;
}
.v163_625 {
  width: 780px;
  height: 1659px;
  background: url("../images/v163_625.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1545px;
  left: 330px;
  overflow: hidden;
}
.v42_1263 {
  width: 780px;
  height: 100%;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 4px 4px 27px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v42_1135 {
  width: 362px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 61px;
  left: 212px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v42_1137 {
  width: 146px;
  color: url("../images/v42_1137.png");
  position: absolute;
  top: 507px;
  left: 62px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1138 {
  width: 445px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 257px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1139 {
  width: 445px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 531px;
  left: 257px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1140 {
  width: 445px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 637px;
  left: 257px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1141 {
  width: 445px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 257px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1142 {
  width: 176px;
  color: url("../images/v42_1142.png");
  position: absolute;
  top: 400px;
  left: 62px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1143 {
  width: 176px;
  color: url("../images/v42_1143.png");
  position: absolute;
  top: 613px;
  left: 62px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1144 {
  width: 173px;
  color: url("../images/v42_1144.png");
  position: absolute;
  top: 137px;
  left: 62px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1145 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 503px;
  overflow: hidden;
}
.v42_1146 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1147 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1148 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1149 {
  width: 211px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1150 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 68px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v42_1270 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 994px;
  left: 503px;
  overflow: hidden;
}
.v42_1271 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1272 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1273 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1274 {
  width: 211px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1275 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 68px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v42_1276 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1165px;
  left: 503px;
  overflow: hidden;
}
.v42_1277 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1278 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1279 {
  width: 211px;
  height: 48px;
  background: url("../images/v42_1279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_1280 {
  width: 211px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1281 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 68px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v42_1151 {
  width: 176px;
  color: url("../images/v42_1151.png");
  position: absolute;
  top: 719px;
  left: 62px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1264 {
  width: 445px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 849px;
  left: 257px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1265 {
  width: 176px;
  color: url("../images/v42_1265.png");
  position: absolute;
  top: 825px;
  left: 62px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1266 {
  width: 210px;
  height: 125px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 955px;
  left: 257px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1267 {
  width: 176px;
  color: url("../images/v42_1267.png");
  position: absolute;
  top: 931px;
  left: 62px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1268 {
  width: 210px;
  height: 125px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1126px;
  left: 257px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1269 {
  width: 198px;
  color: url("../images/v42_1269.png");
  position: absolute;
  top: 1102px;
  left: 62px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_1152 {
  width: 210px;
  height: 125px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 257px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1282 {
  width: 124px;
  height: 50px;
  background: url("../images/v42_1282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1325px;
  left: 331px;
  overflow: hidden;
}
.v42_1283 {
  width: 124px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_1284 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 28px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v163_626 {
  width: 124px;
  height: 50px;
  background: url("../images/v163_626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1609px;
  left: 331px;
  overflow: hidden;
}
.v163_627 {
  width: 124px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(104,102,102,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v163_628 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 28px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v163_629 {
  width: 472px;
  color: rgba(245,126,32,1);
  position: absolute;
  top: 3055px;
  left: 484px;
  font-family: Calibri;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v163_630 {
  width: 472px;
  color: rgba(94,187,70,1);
  position: absolute;
  top: 3108px;
  left: 484px;
  font-family: Calibri;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}